<%- include('header', { pageTitle: 'Payment Confirmation | Vacay' }) %>

<div class="propBackground align-content-center pb-5 pt-1">
    <div class="container mt-3 text-center">
        <h1 class="mt-5">Thank You For Your Booking!</h1>
        <h2>Your Confirmed Booking Is As Follows:</h2>
        <div class="booking-container mx-auto">
            <% if (property && property.images && property.images.length > 0) { %>
                <img src="<%= 'data:' + property.images[0].contentType + ';base64,' + property.images[0].data.toString('base64') %>" alt="Property Image" class="booking-image">
                <div class="booking-details">
                    <h2><%= property.name %></h2>
                    <p>Check-In: <%= booking.checkin.toDateString() %></p>
                    <p>Check-Out: <%= booking.checkout.toDateString() %></p>
                    <p>Total Price: RM<%= booking.totalPrice %></p>
                </div>
            <% } else { %>
                <p class="noImageMessage">No property image available</p>
                <div class="booking-details">
                    <!-- Display available booking details even if the property image isn't available -->
                    <h2>Property Information Not Available</h2>
                    <p>Check-In: <%= booking.checkin.toDateString() %></p>
                    <p>Check-Out: <%= booking.checkout.toDateString() %></p>
                    <p>Total Price: RM<%= booking.totalPrice %></p>
                </div>
            <% } %>
        </div>
        <div class="d-flex justify-content-center">
            <!-- Add print button here -->
            <button onclick="window.print()" class="viewBtn" style="width:250px; margin-bottom: 20px;">Print Confirmation</button>
        </div>
        <div class="d-flex justify-content-center">
            <form action="/mainView" method="GET">
                <button class="viewBtn" type="submit" style="width:250px;">Return To Main Menu</button>
            </form>
        </div>
    </div>
</div>

<%- include('footer') %>
