<%- include('headerHost', { pageTitle: 'Financial Report | Vacay' }) %>

<div class="propBackground">
    <h3 class="p-2" style="padding-top: 30px; margin-left: 70px; font-size: 50px; margin-bottom: 20px;">Host Financial Report</h3>
    <div class="container mt-4">
        <% if (revenueData.length > 0) { %>
            <% revenueData.forEach(function(data) { %>
                <div class="card mb-3">
                    <div class="card-header" style="background-color: #7a4b7f; color: white;">
                        <%= data.propertyName %>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Total Revenue: RM<%= data.totalRevenue.toFixed(2) %></h5>
                        <p class="card-text">Number of Bookings: <%= data.bookingCount %></p>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>No revenue data available.</p>
        <% } %>
    </div>
</div>

<%- include('footer.ejs') %>