<%- include('header', { pageTitle: 'Welcome | Vacay' }) %>

<div class="propBackground">
    <% if (user && user.type === 'guest') { %>
        <h1 style="font-size: 50px; text-align: center;">Welcome to Vacay!</h1>
        <h2 style="font-size: 30px; margin-top: 0%; text-align: center; margin-bottom:50px">Our Valuable Guest</h2>
        <div style="width:100%; background-color: white; padding-top: 20px;padding-bottom: 20px; box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);">
            <h1 style="font-size: 50px; text-align: center;">Book Unique Homes From All Over Malaysia.</h1>
            <h2 style="font-size: 30px; margin-top: 0%; text-align: center;">Faster, Easier, Reliable</h2>
        </div>
        <div class="grid-container">
            <% propertyHosts.forEach(propertyHost => { %>
                <figure>
                    <% if (propertyHost.images && propertyHost.images.length > 0) { %>
                        <img src="<%= 'data:' + propertyHost.images[0].contentType + ';base64,' + propertyHost.images[0].data.toString('base64') %>" alt="Property Image" style="width: 100%;">
                    <% } else { %>
                        <img src="placeholder-image-url.jpg" alt="Placeholder Image" style="width: 100%;">
                    <% } %>
                    <figcaption>
                        <h1><%= propertyHost.name %></h1>
                        <p><%= propertyHost.address %></p> <!-- Assuming you have a location field -->
                        <p><%= propertyHost.guestNum %> Guest</p>
                        <p>RM<%= propertyHost.price %>/night</p>
                    </figcaption>
                    <form action="/propertyView/<%= propertyHost._id %>" method="GET">
                        <button>View</button>
                    </form>
                </figure>
            <% }); %>
        </div>
    <% } else { %>
        <!-- Display something else for hosts if needed -->
        <p>Hosts see a different view</p>
    <% } %>
</div>
<%- include('footer') %>
