<%- include('header') %>

<div class="propBackground">
    <% if (user && user.type === 'guest') { %>
        <!-- Display only for guests -->
        <!--h3 class="p-2" style="text-align: center;">Dear Guest, Welcome to Vacay</h3>-->

        <h1 style="font-size: 50px; text-align: center;">Book Unique Homes All Over Malaysia.</h1>
        <h2 style="font-size: 30px; margin-top: 0%; text-align: center;">Faster, Easier, Reliable</h2>

        <div class="grid-container">
            <% propertyHosts.forEach(propertyHost => { %>
                <figure>
                    <% if (propertyHost.images && propertyHost.images.length > 0) { %>
                        <img src="<%= 'data:' + propertyHost.images[0].contentType + ';base64,' + propertyHost.images[0].data.toString('base64') %>" alt="Property Image" style="width: 100%;">
                    <% } else { %>
                        <img src="placeholder-image-url.jpg" alt="Placeholder Image" style="width: 100%;">
                    <% } %>
                    <figcaption>
                        <h1><%= propertyHost.name %></h1>
                        <p><%= propertyHost.address %></p> <!-- Assuming you have a location field -->
                        <p><%= propertyHost.guestNum %> Guest</p>
                        <p>RM<%= propertyHost.price %>/night</p>
                    </figcaption>
                    <form action="/propertyView/<%= propertyHost._id %>" method="GET">
                        <button>View</button>
                    </form>
                </figure>
            <% }); %>
        </div>
    <% } else { %>
        <!-- Display something else for hosts if needed -->
        <p>Hosts see a different view</p>
    <% } %>
</div>
<%- include('footer') %>






