<%- include('header', { pageTitle: 'Guest Profile | Vacay' }) %>

<body>
    <div class="propBackground d-flex flex-column justify-content-center align-items-center text-center" style="padding-bottom: 50px; min-height: 100vh;">
        <div class="profile-pic-container">
            <div class="profile-pic">
                <img src="uploads/guest.jpg" alt="user pic">
            </div>
            <h1 style="font-size: 50px;"><%= profileName %></h1>
        </div>
        <div class="appbox w-60"> <!-- Adjust the width as needed -->
            <div class="profile p-5">
                <h2> Name: </h2>
                <div class="details">
                    <p><%= profileName %></p>
                </div>
                <h2> Email: </h2>
                <div class="details">
                    <p><%= profileEmail %></p>
                </div>
                <h2> Phone Number: </h2>
                <div class="details">
                    <p><%= profilePhoneNumber %></p>
                </div>
                <h2> Status: </h2>
                <div class="details">
                    <p><%= profileStatus %></p>
                </div>
                <form action="/editProfile" method="GET" class="mb-2">
                    <button class="welcomeBtn" style="margin-bottom: 20px;">Edit Profile</button>
                </form>
            </div>
        </div>
    </div>
</body>


<%- include('footer') %>