<%- include('headerAdmin', { pageTitle: 'Property Verify List | Vacay' }) %>

<div class="propBackground d-flex flex-column">
    <h3 class="p-2" style="padding-top: 30px; margin-left: 70px; font-size: 50px; margin-bottom: 0;">Property Verify List</h3>

    <% propertyHosts.forEach(propertyHost => { %>
        <div class="propList d-flex m-3 p-4 align-items-stretch row" style="background-color: #fefbf4; border: solid #dbc48f; border-radius: 20px;">
            <div class="col-md-4 d-flex align-items-center" style="padding: 0; height:100%">
                <% if (propertyHost.images && propertyHost.images.length > 0 && propertyHost.images[0] && propertyHost.images[0].contentType && propertyHost.images[0].data) { %>
                    <img src="data:<%= propertyHost.images[0].contentType %>;base64,<%= propertyHost.images[0].data.toString('base64') %>" alt="Property Image" class="img-fluid h-100" style="border-radius: 20px; object-fit: cover; width: 100%;">
                <% } else { %>
                    <p>No Image</p>
                <% } %>                
            </div>
            <div class="col-md-8 d-flex flex-column justify-content-center" style="padding-left: 20px;">
                <h1><%= propertyHost.name %></h1>
                <h3>Total Guest: <%= propertyHost.guestNum %> Guest</h3>
                <h3>Price: <%= propertyHost.price %>/Night</h3>
                <h3>Location: <%= propertyHost.address %></h3>
                <form action="/verifyproperty" method="POST" class="mt-2">
                    <input type="hidden" name="propertyId" value="<%= propertyHost._id %>">
                    <button class="btn btn-success" type="submit">Verify</button>
                </form>
            </div>
        </div>
    <% }); %>
</div>

<%- include('footer') %>
