<%- include('headerAdmin', { pageTitle: 'Property Verify List | Vacay' }) %>

<div class="propBackground">
    <h3 class="p-2" style="padding-top: 30px; margin-left: 110px; font-size: 50px; margin-bottom: 20px;">Property Verify List</h3>
    <div class="container mt-0">
        <% propertyHosts.forEach(propertyHost => { %>
        <div class="card mb-3 d-flex flex-row" style="border-radius: 20px; overflow: hidden; align-items: center;">
            <% if (propertyHost.images && propertyHost.images.length > 0) { %>
            <div class="row g-0 flex-grow-1">
                <div class="col-md-4">
                    <% propertyHost.images.slice(0,1).forEach(image => { %>
                    <img src="data:<%= image.contentType %>;base64,<%= image.data.toString('base64') %>" class="img-fluid rounded-start" alt="Property Image" style="height: 100%; width: 100%; object-fit: cover;">
                    <% }); %>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h2 class="card-title"><%= propertyHost.name %></h2>
                        <p class="card-text"><strong>Total Guest:</strong> <%= propertyHost.guestNum %> Guest</p>
                        <p class="card-text"><strong>Price:</strong> $<%= propertyHost.price %>/Night</p>
                        <p class="card-text"><strong>Location:</strong> <%= propertyHost.address %></p>
                        <form action="/verifyproperty" method="POST" class="mt-2">
                            <input type="hidden" name="propertyId" value="<%= propertyHost._id %>">
                            <button class="btn btn-success" type="submit">Verify</button>
                        </form>
                    </div>
                </div>
            </div>
            <% } else { %>
            <div class="row g-0 flex-grow-1">
                <div class="col-md-12">
                    <div class="card-body">
                        <h2 class="card-title"><%= propertyHost.name %></h2>
                        <p class="card-text">No Image Available</p>
                        <p class="card-text"><strong>Total Guest:</strong> <%= propertyHost.guestNum %> Guest</p>
                        <p class="card-text"><strong>Price:</strong> $<%= propertyHost.price %>/Night</p>
                        <p class="card-text"><strong>Location:</strong> <%= propertyHost.address %></p>
                        <form action="/verifyproperty" method="POST" class="mt-2">
                            <input type="hidden" name="propertyId" value="<%= propertyHost._id %>">
                            <button class="btn btn-success" type="submit">Verify</button>
                        </form>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <% }); %>
    </div>
</div>

<%- include('footer') %>
