<%- include('header', { pageTitle: 'Rate Your Stay | Vacay' }) %>

    <div class="propBackground d-flex flex-column">
        <h3 class="p-2" style="padding-top: 30px; margin-left: 70px; font-size: 50px; margin-bottom: 0;">Rate Your Stay
        </h3>

        <div class="propList d-flex m-3 p-4 align-items-stretch row"
            style="background-color: #fefbf4; border: solid #dbc48f; border-radius: 20px;">
            <div class="col-md-4 d-flex align-items-center" style="padding: 0; height:100%">
                <% if (propertyHost.images && propertyHost.images.length> 0 && propertyHost.images[0] &&
                    propertyHost.images[0].contentType && propertyHost.images[0].data) { %>
                    <img src="data:<%= propertyHost.images[0].contentType %>;base64,<%= propertyHost.images[0].data.toString('base64') %>"
                        alt="Property Image" class="img-fluid h-100"
                        style="height:100%;border-radius: 20px; object-fit: cover; width: 100%;">
                    <% } else { %>
                        <p>No Image</p>
                        <% } %>
            </div>
            <div class="col-md-8 d-flex flex-column justify-content-center" style="padding-left: 20px;">
                <h1>
                    <%= propertyHost.name %>
                </h1>
                <h3>Total Guest: <%= propertyHost.guestNum %> Guest</h3>
                <h3>Price: RM <%= propertyHost.price %>/Night</h3>
                <h3>Location: <%= propertyHost.address %>
                </h3>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center mt-5">
            <form action="/ratings" method="POST" class="w-60">
                <input type="hidden" name="propertyId" value="<%= propertyHost._id %>">
                <div class="form-group text-center">
                    <h3>How Would You Rate Your Stay Here?</h3>
                    <div class="star-rating">
                        <input type="radio" id="5-stars" name="rating" value="5" />
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="rating" value="4" />
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="rating" value="3" />
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="rating" value="2" />
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="rating" value="1" />
                        <label for="1-star" class="star">&#9733;</label>
                    </div>
                </div>
                    <h3>Do You Have Any Feedback On This Property?</h3>
                    <input type="text" class="form-control mb-5" id="feedback" name="feedback" placeholder="Your Feedback">
                </div>
                <div class="text-center">
                    <button type="submit" class="viewBtn mb-5" style="font-size: medium;">Submit</button>
                </div>
            </form>
        </div>        
    </div>
    <%- include('footer') %>