<%- include('headerHost', { pageTitle: 'Settle Refund | Vacay' }) %>

<div class="propBackground d-flex flex-column"">
    <h3 class="p-2" style="padding-top: 30px; margin-left: 70px; font-size: 50px; margin-bottom: 0;">Refund</h3>
    <ul>
        <% refunds.forEach(refund => { %>
            <li>
                <h3>Booking ID: <%= refund.bookingId %></h3>
                <p>Refund Amount: <%= refund.refundAmount %></p>
                <p>Reason: <%= refund.reason %></p>
                <p>Status: <%= refund.status %></p>
                <p>Timestamp: <%= refund.timestamp %></p>
                <form action="/acceptrefund/<%= refund._id %>" method="POST">
                    <button class="viewBtn" type="submit">Accept</button>
                </form>
                <form action="/rejectrefund/<%= refund._id %>" method="POST">
                    <button class="viewBtn" type="submit">Reject</button>
                </form>
            </li>
        <% }); %>
    </ul>
</div>

<%- include('footer') %>
