<%- include('headerHost', { pageTitle: 'Settle Refund | Vacay' }) %>

<div class="propBackground d-flex flex-column"">
    <h2>Refunds</h2>
    <ul>
        <% refunds.forEach(refund => { %>
            <li>
                <h3>Booking ID: <%= refund.bookingId %></h3>
                <p>User ID: <%= refund.userId %></p>
                <p>Property ID: <%= refund.propertyId %></p>
                <p>Refund Amount: <%= refund.refundAmount %></p>
                <p>Reason: <%= refund.reason %></p>
                <p>Status: <%= refund.status %></p>
                <p>Timestamp: <%= refund.timestamp %></p>
                <form action="/acceptrefund/<%= refund._id %>" method="POST">
                    <button type="submit">Accept</button>
                </form>
                <form action="/rejectrefund/<%= refund._id %>" method="POST">
                    <button type="submit">Reject</button>
                </form>
            </li>
        <% }); %>
    </ul>
</div>

<%- include('footer') %>
