<%- include('header') %>
<div class="propBackground">
    <div style="padding-left: 70px; font-size: 50px; margin-bottom: 0;">
        <h1>
            <%= property.name %> in <%= property.address %>
        </h1>
        <h3 style="line-height: normal;">
            <%= property.guestNum %> Guests
        </h3>
    </div>

    <div id="propertyImages" style="display: flex; justify-content: space-around; margin-top: 50px; padding-left: 50px; padding-right: 50px;">
        <img src="<%= 'data:' + property.images[0].contentType + ';base64,' + property.images[0].data.toString('base64') %>"
            alt="Main Property Image" style="width: 52.5%; border-radius: 20px;">

        <div style="display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 10px; width: 45%;">
            <% for(let i=1; i < property.images.length; i++) { %>
                <div style="overflow: hidden;">
                    <img src="<%= 'data:' + property.images[i].contentType + ';base64,' + property.images[i].data.toString('base64') %>"
                        alt="Property Image <%= i %>"
                        style="width: 100%; height: 100%; object-fit: cover; border-radius: 20px;">
                </div>
                <% } %>
        </div>
    </div>

    <div id="propertyDescription" style="display: flex; justify-content: space-around; margin-top: 50px;">
        <div style="width:50%">
            <h3>Description</h3>
            <p style="font-size: 20px; text-align: justify;">
                <%= property.description %>
            </p>
        </div>

        <div class="bookBorder d-flex flex-column align-items-center p-3" style="width:30%; margin-bottom: 50px;">
            <h3 style="margin-top: 15px; margin-bottom:30px">Price: RM<%= property.price %>
            </h3>

            <form class="d-flex flex-column align-items-center" action="/bookingProp/<%= property._id %>" method="POST">
                <div class="row">
                    <div class="col">
                        <div class="form-group" style="margin-bottom:15px">
                            <label for="checkIn"><h3 style="font-size:20px">Check-In Date</h3></label>
                            <input type="date" class="form-control" id="checkIn" name="checkIn" placeholder="Check-in">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group" style="margin-bottom:15px">
                            <label for="checkOut"><h3 style="font-size:20px">Check-Out Date</h3></label>
                            <input type="date" class="form-control" id="checkOut" name="checkOut" placeholder="Check-out">
                        </div>
                    </div>
                </div>
                <label for="checkOut"><h3 style="font-size:20px">Number of Guest</h3></label>
                <input type="number" class="form-control" id="guestNum" name="guestNum" placeholder="Number of Guest" style="margin-bottom:30px">
                <input class="viewBtn" type="submit" value="Book">
            </form>
        </div>
    </div>
</div>
<%- include('footer') %>